<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="mirrorConfiguration" type="SpaceTraffic.GithubToTfsSync.MirrorConfiguration, MirrorConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <add key="webhookSecret" value="123" />
    <add key="cacheRepositoryPath" value="C:\mirror\temp" />
  </appSettings>
  
  <mirrorConfiguration xmlns="urn:MirrorConfiguration">
    <sourceRepository url="git@github.com:SpaceTrafficDevelopers/SpaceTraffic.git" />
    <targetRepositories>
      <repository id="tfs" url="http://spacetraffic.kiv.zcu.cz:8080/tfs/spacetraffic/_git/SpaceTraffic" />
    </targetRepositories>
  </mirrorConfiguration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <trace enabled="true" localOnly="true" pageOutput="false" requestLimit="300" traceMode="SortByTime" />
  </system.web>

  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener"
             type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>